# config/database.yml

default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  adapter: sqlite3
  database: db/development.sqlite3

test:
  <<: *default
  adapter: postgresql
  database: <%= ENV.fetch("PG_TEST_DB") { "csce606_group2_project2_test" } %>
  username: <%= ENV.fetch("PGUSER") { "postgres" } %>
  password: <%= ENV.fetch("PGPASSWORD") { "" } %>
  host: <%= ENV.fetch("PGHOST") { "localhost" } %>
  port: <%= ENV.fetch("PGPORT") { 5432 } %>

production:
  <<: *default
  # The database URL will be set by your production environment (e.g., Heroku, Render)
  url: <%= ENV["DATABASE_URL"] %>